<p id="notice"><%= notice %></p>
<ul class="fret-row">
  <div class="note estring">E</div>
  <div class="note Bstring">A</div>
  <div class="note Gstring">D</div>
  <div class="note Astring">G</div>
  <div class="note Dstring">B</div>
  <div class="note EString">e</div>
</ul>
  <div class="fretboard">

  </div>
  <input type="text" id="selected" />
  <button data-chord="E">E major</button>
  <button data-chord="Em">E minor</button>
  <button data-chord="D">D major</button>
  <button data-chord="D_bar">D major, bar chord</button>
  <button data-chord="A">A major</button>




<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @chords.each do |chord| %>
      <tr>
        <td><%= chord.title %></td>
        <td><%= chord.user_id %></td>
        <td><%= link_to 'Show', chord %></td>
        <td><%= link_to 'Edit', edit_chord_path(chord) %></td>
        <td><%= link_to 'Destroy', chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chord', new_chord_path %> -->
