<p id="notice"><%= notice %></p>

<div class="fretboard">
              <ul class="fret-row">
                <div class="note Estring">E</div>
                <div class="note Astring">A</div>
                <div class="note Dstring">D</div>
                <div class="note Gstring">G</div>
                <div class="note Bstring">B</div>
                <div class="note eString">e</div>
              </ul>
            </div>


<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @chords.each do |chord| %>
      <tr>
        <td><%= chord.title %></td>
        <td><%= chord.user_id %></td>
        <td><%= link_to 'Show', chord %></td>
        <td><%= link_to 'Edit', edit_chord_path(chord) %></td>
        <td><%= link_to 'Destroy', chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chord', new_chord_path %> -->
