<h2>New Chord</h2>

<%= render 'form' %>

<ul class="fret-row">
  <div class="note estring">e</div>
  <div class="note Bstring">b</div>
  <div class="note Gstring">G</div>
  <div class="note Astring">D</div>
  <div class="note Dstring">A</div>
  <div class="note EString">E</div>
</ul>
  <div class="fretboard">

  </div>
<div class = "generate-chord-button">
  <input type="text" id="selected" />
  <button class = "sel-button" data-chord="E">E Major</button>
  <button class = "sel-button"data-chord="Em">E minor</button>
  <button class = "sel-button"data-chord="D">D Major</button>
  <button class = "sel-button"data-chord="D_bar">D Major, bar chord</button>
  <button class = "sel-button"data-chord="A">A Major</button>
  <button class = "sel-button"data-chord="D7">D7</button>
  <button class = "sel-button"data-chord="G">G Major</button>
</div>
<button class = "clear-fretboard">Clear Fretboard</button>





<!-- <%= link_to 'Back', chords_path %> -->


<table>
 <thead>
   <tr>
     <th>Chord Name</th>
     <th colspan="3"></th>
   </tr>
 </thead>

<tbody>
    <% @chords.each do |chord| %>
      <tr>
        <td><%= chord.title %></td>
        <td><%= link_to 'Show', chord %></td>
        <td><%= link_to 'Edit', edit_chord_path(chord) %></td>
        <td><%= link_to 'Destroy', chord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
