


<!-- <%= link_to 'Back', chords_path %> -->


<table>
 <thead>
   <tr>
     <th>Chord Name</th>
     <th> Chord Notes </th>
     <th colspan="3"></th>
   </tr>
 </thead>

<tbody>
    <% @chords.each do |chord| %>
      <tr>
        <td><%= chord.title %></td>
        <td><%= chord.notes %></td>
        <td><%= link_to 'Show', chord %></td>
        <td><%= link_to 'Edit', edit_chord_path(chord) %></td>
        <td><%= link_to 'Destroy', chord, method: :delete, data: { confirm: 'Do you really want to delete this chord?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
