<%= form_for(@chord_diagram) do |f| %>
  <% if @chord_diagram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chord_diagram.errors.count, "error") %> prohibited this chord_diagram from being saved:</h2>

      <ul>
      <% @chord_diagram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class ="">
  <div class="field chord-name-input">
    <!-- <%= f.label :name %><br> -->
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <!-- <%= f.label :chords %><br> -->
    <%= f.text_field :chords, id: "selected", required: true  %>
  </div>
  <div class="actions">
    <%= f.submit class:"new-chord-form-button"  %>
  </div>
</div>
<% end %>
