<p id="notice"><%= notice %></p>

<h1>Listing Chord Diagrams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chord_diagrams.each do |chord_diagram| %>
      <tr>
        <td><%= chord_diagram.name %></td>
        <td><%= chord_diagram.chords %></td>
        <!-- <td><%= link_to 'Show', chord_diagram %></td> -->
        <td><%= link_to 'Edit', edit_chord_diagram_path(chord_diagram) %></td>
        <td><%= link_to 'Destroy', chord_diagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chord diagram', new_chord_diagram_path %>
