<div class = "new-chord-form">
  <h2>New Chord Name</h2>
  <%= render 'form' %>
  <button class = "clear-fretboard new-chord-form-button">Clear Fretboard</button>
</div>
  <div class="fretboard">

    <ul class="fret-row">
      <div class="note estring">e</div>
      <div class="note Bstring">b</div>
      <div class="note Gstring">G</div>
      <div class="note Astring">D</div>
      <div class="note Dstring">A</div>
      <div class="note EString">E</div>
    </ul>
  </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @chord_diagrams.each do |chord_diagram| %>
      <tr>

        <td class = "user-sel-chord">
        <button class="sel-button" data-chord="<%= chord_diagram.chords.gsub(/[\s']/,'')%>"><%= chord_diagram.name %>
        </button>
        <!-- <%= chord_diagram.chords %></td> -->
        <!-- <td><%= link_to 'Show', chord_diagram %></td> -->
        <td><%= link_to 'Edit', edit_chord_diagram_path(chord_diagram) %></td>
        <td><%= link_to 'Destroy', chord_diagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
