
<h2>New Chord</h2>

<%= render 'form' %>
<button class = "clear-fretboard">Clear Fretboard</button>

<ul class="fret-row">
  <div class="note estring">e</div>
  <div class="note Bstring">b</div>
  <div class="note Gstring">G</div>
  <div class="note Astring">D</div>
  <div class="note Dstring">A</div>
  <div class="note EString">E</div>
</ul>
  <div class="fretboard">
  </div>


  <button class = "sel-button" data-chord="E">E Major</button>
  <button class = "sel-button"data-chord="Em">E minor</button>
  <button class = "sel-button"data-chord="D">D Major</button>
  <button class = "sel-button"data-chord="D_bar">D Major, bar chord</button>
  <button class = "sel-button"data-chord="A">A Major</button>
  <button class = "sel-button"data-chord="D7">D7</button>
  <button class = "sel-button"data-chord="G">G Major</button>
</div>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Chords</th>
    </tr>
  </thead>

  <tbody>
    <% @chord_diagrams.each do |chord_diagram| %>
      <tr>
        <td><%= chord_diagram.name %></td>
        <td><%= chord_diagram.chords %></td>
        <!-- <td><%= link_to 'Show', chord_diagram %></td> -->
        <td><%= link_to 'Edit', edit_chord_diagram_path(chord_diagram) %></td>
        <td><%= link_to 'Destroy', chord_diagram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
